# NAME-Beas Jha
# REGD.NO-2241010079
# SECTION-2241007

## Q1.)Write a python script to solve the followingproblems.(Don’t use loops or functions for thefollowingproblems)

### a.)Check a given number is even or odd

In [1]:
num=int(input('Enter a number: '))
if(num%2==0):
    print('Even number')
else: 
    print('Odd')

Enter a number: 25
Odd

### b.)Given a string check it is a palindrome or not

In [2]:
str=input("Enter a string: ")
if str==str[::-1]:
    print("Pallindrome")
else:
    print("Not pallindrome")

Enter a string: Winter
Not pallindrome

### c.)Given an alphabet, check whether it is a vowel or aconsonant.

In [1]:
x=input("Enter a alphabet: ")
if x=='a'or x=='i'or x=='o'or x=='u'or x=='e':
    print("Vowel")
elif x=='A'or x=='E'or x=='I'or x=='O'or x=='U':
    print("Vowel")
else:
    print("Consonant")

Enter a alphabet: A
Vowel

### d.)Given a month and date, find which season does it belong to.Hint: Dec21-Mar20: winter, Mar21-June20: Spring, June21-Sep20:Summer,Sep21-Dec20: Fal

In [18]:
month1=input('Enter the starting month name: ').lower()
month2=input('Enter the end month name: ').lower()
date=int(input('Enter a date: '))
if((month1=='december'and date>=21)or(month2=='march'and date<=20)):
    print('Winter')
elif((month1=='march'and date>=21)or(month2=='june'and date<=20)):
    print('Spring')
elif((month1=='june'and date>=21)or(month2=='september'and date<=20)):
    print('Spring')
elif((month1=='september'and date>=21)or(month2=='december'and date<=20)):
    print('Fall')

Enter the starting month name: december
Enter the end month name: march
Enter a date: 12
Winter

### e.) Given a year find it is a leap year or not.

In [5]:
a=int(input("Enter a year: "))
if a%4==0:
    print("Leap year")
elif a%100==0:
    print("Not a leap year")
elif a%400==0:
    print("Leap year")
else:
    print("Not a leap year")

Enter a year: 1973
Not a leap year

## Q2.) (Don’t use conditional and loops for the followingproblems)

### a.) Create functions add(), subtract(), multiply(), division(), so thatwe can get same value for the following two expressions.2 + 3 − 4∗ 5/6 and subtract (add(2,3),multiply(division(5,6),4))

In [8]:
def add(x,y):
    return (x+y)
def sub(x,y):
    return (x-y)
def multiply(x,y):
    return (x*y)
def division(x,y):
    return (x/y)
ans2=sub(add(2,3),multiply(division(5,6),4))
ans1=2+3-4*5/6
print(ans1,ans2)

1.6666666666666665 1.6666666666666665

### b.)Write a python function solution(a,b,c) to find the quadratic roots of the equation ax2+bx+ c = 0.

In [9]:
import math
def quad_sol(a,b,c):
    if b*b-4*a*c>0:
        r1=(-b+math.sqrt(b*b-4*a*c))/2*a
        r2=(-b-math.sqrt(b*b-4*a*c))/2*a
        return(r1,r2)
    else:
        return 'imaginary Roots'
print (quad_sol(3,12,6))

(-5.272077938642146, -30.72792206135785)

### c.)Write a python HI(x), which will show output, ”Hi x”, when theargument ’x’ is passed to the function Hi().

In [1]:
x=input('Enter an argument')
def HI(x):
    return "Hi"+x
print(HI(x))

Enter an argumentWorld
HiWorld

### d.)Write two python functions mean() and median(), tofind the mean and median of three numbers

In [1]:
def mean_median(x,y,z):
    mean=(x+y+z)/2
    median=(x+y+z)-(min(x,y,z)+max(1,2,3))
    return (mean,median)
x=int(input('Enter a no1: '))
y=int(input('Enter a no2: '))
z=int(input('Enter a no3: '))
ans= mean_median(x,y,z)
print('Mean : ',ans[0],' & ','median : ',ans[1])

Enter a no1: 1
Enter a no2: 2
Enter a no3: 3
Mean :  3.0  &  median :  2

### e).Write a function to compute sum of first n natural numbers.

In [2]:
n=int(input("Enter a number: "))
def sum(n):
    return n*(n+1)/2
print('Sum of n numbers : ' ,sum(n))

Enter a number: 5
Sum of n numbers :  15.0

## Q3.) In this exercise you will create a program that displays a multiplication table thatshows the productsof all combinations of integers from 1 times 1 up to and including10 times 10. Your multiplication table should include a row of labels across the top ofit containing the numbers 1 through 10. It shouldalso include labels down the leftside consisting of the numbers 1 through 10. The expected output from the programis shown below:

In [17]:
print("  ",end="")
for i in range(1,11):
    print("% 4d"%i, end="")
print()
for i in range(1,11):
    print("% 4d"%i, end="")
    for j in range(1,11):
            print("% 4d"%(i*j), end="")
    print()

     1   2   3   4   5   6   7   8   9  10
   1   1   2   3   4   5   6   7   8   9  10
   2   2   4   6   8  10  12  14  16  18  20
   3   3   6   9  12  15  18  21  24  27  30
   4   4   8  12  16  20  24  28  32  36  40
   5   5  10  15  20  25  30  35  40  45  50
   6   6  12  18  24  30  36  42  48  54  60
   7   7  14  21  28  35  42  49  56  63  70
   8   8  16  24  32  40  48  56  64  72  80
   9   9  18  27  36  45  54  63  72  81  90
  10  10  20  30  40  50  60  70  80  90 100

## Q4.)Write a function that accepts as an input parameterthe number of rows to be printed and prints a figurelike:
### a. 1 2 1 2 3 2 1 2 3 4 3 2 1 2 3 4

In [3]:
st=1
s="1"
for i in range(2,6):
    print(" "*(5-i),s)
    s=str(i)+(s)+str(i)

    1
   212
  32123
 4321234

In [4]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [5]:
for i in range(4):
    print((" ")*(5-i)+("* "*i))
for i in range(4,0,-1):
    print((" ")*(5-i)+("* "*i))

    *
   * *
  * * *
 * * * *
  * * *
   * *
    *