# NAME-Beas Jha
# REGD.NO-2241010079
# SECTION-2241007

### 1. What is a List Object in Python? Write the syntax, how we create a List object? For the followingcreate List object of each scenario and display the output.

### (a) List of vowels.

In [1]:
l=[]
for i in 'aeiouAEIOU':
    l.append(i)
print(l)

['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']

### (b) List of consonants.

In [4]:
l=[]
for i in range(65,91):
    if chr(i) not in 'aeiouAEIOU':
        l.append(chr(i))
        l.append(chr(i+32))
print(l)

['B', 'b', 'C', 'c', 'D', 'd', 'F', 'f', 'G', 'g', 'H', 'h', 'J', 'j', 'K', 'k', 'L', 'l', 'M', 'm', 'N', 'n', 'P', 'p', 'Q', 'q', 'R', 'r', 'S', 's', 'T', 't', 'V', 'v', 'W', 'w', 'X', 'x', 'Y', 'y', 'Z', 'z']

### (c) List of even integers within 1 to 20.

In [3]:
l=[]
for i in range(1,21):
    if i%2==0:
        l.append(i)
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### (d) List of odd integers within 1 to 20.

In [5]:
l=[]
for i in range(1,21):
    if i%2!=0:
        l.append(i)
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### (e) List of all subjects in this semester.

In [4]:
n=int(input('Enter the no of subjects you have in this semeter: '))
l=[]
for i in range(0,n):
    m=input('Enter the subject names: ')
    l.append(m)
print(l)

Enter the no of subjects you have in this semeter: 5
Enter the subject names: DSW-1
Enter the subject names: PS
Enter the subject names: AD
Enter the subject names: DL
Enter the subject names: PME
['DSW-1', 'PS', 'AD', 'DL', 'PME']

### (f) List of all subject codes in this semester.

In [6]:
n=int(input('Enter the no of subjects you have in this semeter: '))
l=[]
for i in range(0,n):
    m=int(input('Enter the subject codes: '))
    l.append(m)
print(l)

Enter the no of subjects you have in this semeter: 5
Enter the subject codes: 2030
Enter the subject codes: 4569
Enter the subject codes: 1486
Enter the subject codes: 1020
Enter the subject codes: 3131
[2030, 4569, 1486, 1020, 3131]

### (g) List of temperatures from last 10 days.

In [1]:
temperatures=[28.5,30.1,29.7,27.8,26.3,31.2,29.9,28.4,30.5,27.2]
print(temperatures)

[28.5, 30.1, 29.7, 27.8, 26.3, 31.2, 29.9, 28.4, 30.5, 27.2]

### 2. Predict the output of following instructions when typed in Jupyter Notebook Cell and note down every output in your assignment copy.

# a.

In [1]:
listObj = range(15)
listObj
list(listObj)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

# b.

In [2]:
someList = ['Bob', 'Joe', 'Will', 55, 'Will', 'XXXXX', 100.55]
type(someList)
print('2  ',someList[0])
print('3  ',someList[-1])
print('4  ',someList[3])
print('5  ',someList[-3])
print('6  ',someList[2])
print('7  ',someList[2:5])
print('8  ',someList[-4:-1])
print('9  ',someList[:5])
print('10 ',someList[2:])
print('11 ',someList[:])
print('12 ',someList[0:6:2])
print('13 ',someList[::2])
print('14 ',someList[::-1])
print('15 ',someList[1:5:2])

2   Bob
3   100.55
4   55
5   Will
6   Will
7   ['Will', 55, 'Will']
8   [55, 'Will', 'XXXXX']
9   ['Bob', 'Joe', 'Will', 55, 'Will']
10  ['Will', 55, 'Will', 'XXXXX', 100.55]
11  ['Bob', 'Joe', 'Will', 55, 'Will', 'XXXXX', 100.55]
12  ['Bob', 'Will', 'Will']
13  ['Bob', 'Will', 'Will', 100.55]
14  [100.55, 'XXXXX', 'Will', 55, 'Will', 'Joe', 'Bob']
15  ['Joe', 55]

# c.

In [1]:
list1 = [2, 3, 7, None]
list2 = ['foo', 'bar', 'baz']
list2 = list1
list2[2] = 'SampleText'
print(1 ,list1)
print(2 ,list1[2])
print(3 ,list2[2])
print(4, list2)

1 [2, 3, 'SampleText', None]
2 SampleText
3 SampleText
4 [2, 3, 'SampleText', None]

# d.

In [8]:
wordList = ['foo', 'bar', 'baz']
wordList[2] = 'peekaboo'
print(wordList)
wordList.append('dwarf')
print(wordList)
wordList.insert(1, 'red')
print(wordList)
wordList.pop(2)
print(wordList)
wordList.append('foo')
print(wordList)
wordList.remove('foo')
print(wordList)
'dwarf' in wordList
'dwarf' not in wordList

['foo', 'bar', 'peekaboo']
['foo', 'bar', 'peekaboo', 'dwarf']
['foo', 'red', 'bar', 'peekaboo', 'dwarf']
['foo', 'red', 'peekaboo', 'dwarf']
['foo', 'red', 'peekaboo', 'dwarf', 'foo']
['red', 'peekaboo', 'dwarf', 'foo']

False

# e.

In [12]:
list1 = [4, None, 'foo'] + [7, 8, 2, 3]
print('1 ',list1)
x = ['A', ('B', 'C')]
x.extend(list1)
print('2 ',x)
print('3 ',list1)
a = [7, 2 , 5, 1, 3, 73, 51, 7, 3, 9, 11, 1, 1, 10, 9]
print('4 ',a)
a.sort()
print('5 ',a)
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
print('6 ',b)
b.sort()
print('7 ',b)

1  [4, None, 'foo', 7, 8, 2, 3]
2  ['A', ('B', 'C'), 4, None, 'foo', 7, 8, 2, 3]
3  [4, None, 'foo', 7, 8, 2, 3]
4  [7, 2, 5, 1, 3, 73, 51, 7, 3, 9, 11, 1, 1, 10, 9]
5  [1, 1, 1, 2, 3, 3, 5, 7, 7, 9, 9, 10, 11, 51, 73]
6  ['He', 'saw', 'six', 'small', 'foxes']
7  ['He', 'foxes', 'saw', 'six', 'small']

## 3. Develop Python Programs for the following below scenario

## (a) Write a Python Program which will prompt user to ask a range of integer(lower limit and higher limit) value. Once you receive the input values from the user programmatically store odd numbers and even numbers into separate list objects and display them as output.

In [3]:
lower_lim = int(input('Enter a lower limit : '))
higher_lim = int(input('Enter higher limit : '))
odd,even=[],[]
for i in range(lower_lim,higher_lim):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)

print('All odd numbers from range ',lower_lim,' to ',higher_lim,' is\n',odd)
print('All even numbers from range ',lower_lim,' to ',higher_lim,' is\n',even)

Enter a lower limit : 2
Enter higher limit : 9
All odd numbers from range  2  to  9  is
 [3, 5, 7]
All even numbers from range  2  to  9  is
 [2, 4, 6, 8]

## (b) Write a Python Program which will prompt user to enter a positive integer value. Once you receive the input, find factors of the integer and store into a list objects and display them as output.

In [7]:
num = int(input('Enter a positive number: '))
factors=[]
for i in range(1,num+1):
    if num%i==0:
        factors.append(i)
print('All factors of ',10,'is\n',factors)

Enter a positive number: 10
All factors of  10 is
 [1, 2, 5, 10]

## (c) Write a Python Program which will prompt user to enter a range of integer(lower limit and higher limit) value, list down all prime numbers and composite numbers into separate list objects and display them.

In [12]:
lower = int(input('Enter a lower limit : '))
higher = int(input('Enter higher limit : '))
prime,composite=[],[]
def isprime(num):   
    factor=0
    for i in range(1,num+1):
            if num%i==0:
                factor+=1
    if factor==2:
        return True
    else:
        return False
    
for i in range(lower,higher):
    if isprime(i)==True:
        prime.append(i)
    else:
        composite.append(i)

print('All prime numbers from range ',lower,' to ',higher,' is\n',prime)
print('All composite numbers from range ',lower,' to ',higher,' is\n',composite)

Enter a lower limit : 1
Enter higher limit : 21
All prime numbers from range  1  to  21  is
 [2, 3, 5, 7, 11, 13, 17, 19]
All composite numbers from range  1  to  21  is
 [1, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20]

## 4. What is a Tuple Object in Python? Write the syntax, how we create a Tuple object? For the following scenario create Tuple object of each scenario and display them as output.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage. A tuple is a collection which is ordered and unchangeable. 
Tuples are written with round brackets. Tuple items are ordered, unchangeable, and allow duplicate values.

### Syntax

-->variable_name = (Attribut1,Attribute2,Attribute3...)
-->We will alao declare a tuple also by using *** tuple *** keyword

## (a) Tuple of few student’s information such as roll number, name, branch, specialization, mobile, email id etc.

In [15]:
Student_Information=(2241007041,'Swayam','C.S.E','DATA SCIENCE',7681053346,'swayamgouda2004@gmail.com')
print(Student_Information)

(2241007041, 'Swayam', 'C.S.E', 'DATA SCIENCE', 7681053346, 'swayamgouda2004@gmail.com')

# (b) Tuple of few book’s information such as ISBN Number, book title, category, author, number of authors etc.

In [17]:
books_information = ('ISBN2241IS08','Elements Of Mathematics','Lonnie','1')
print(books_information)

('ISBN2241IS08', 'Elements Of Mathematics', 'Lonnie', '1')

# (c) Tuple of few parts of a vehicle.

In [18]:
parts = ('seat','engine','clutch','Acceletor')
print(parts)

('seat', 'engine', 'clutch', 'Acceletor')

# (d) Tuple of few institution details such as name of the institute, departments, no. of students, address etc.

In [19]:
institution_details=('ITER','C.S.E',20000,'JAGAMARA SQUARE')
print(institution_details)

('ITER', 'C.S.E', 20000, 'JAGAMARA SQUARE')

## 5. Predict the output of following instructions when typed in Jupyter Notebook Cell and note down every output in your  assignment copy

# a.

In [26]:
tupleObj = (4, 5, 6, 'Ram', 'Hari', 120.5643)
print('1',tupleObj)
print('2',type(tupleObj))
print('3',tuple((2, 5, 1, 9, 5, 3, 8)))
print('4',tuple((4, 5, 6)))
x = tuple([2, 5, 1, 9, 5, 3, 8])
print('5',x)
y = x
print('6',type(y))
tupleObj = tuple('string')
print('7',tupleObj)

1 (4, 5, 6, 'Ram', 'Hari', 120.5643)
2 <class 'tuple'>
3 (2, 5, 1, 9, 5, 3, 8)
4 (4, 5, 6)
5 (2, 5, 1, 9, 5, 3, 8)
6 <class 'tuple'>
7 ('s', 't', 'r', 'i', 'n', 'g')

# b.

In [2]:
someList = ['Bob', 'Joe', 'Will', 55, 'Will', 'XXXXX', 100.55]
someList = tuple(someList)
print('1  ',type(someList))
print('2  ',someList[0])
print('3  ',someList[-1])
print('4  ',someList[3])
print('5  ',someList[-3])
print('6  ',someList[2])
print('7  ',someList[2:5])
print('8  ',someList[-4:-1])
print('9  ',someList[:5])
print('10 ',someList[2:])
print('11 ',someList[:])
print('12 ',someList[0:6:2])
print('13 ',someList[::2])
print('14 ',someList[::-1])
print('15 ',someList[1:5:2])

1   <class 'tuple'>
2   Bob
3   100.55
4   55
5   Will
6   Will
7   ('Will', 55, 'Will')
8   (55, 'Will', 'XXXXX')
9   ('Bob', 'Joe', 'Will', 55, 'Will')
10  ('Will', 55, 'Will', 'XXXXX', 100.55)
11  ('Bob', 'Joe', 'Will', 55, 'Will', 'XXXXX', 100.55)
12  ('Bob', 'Will', 'Will')
13  ('Bob', 'Will', 'Will', 100.55)
14  (100.55, 'XXXXX', 'Will', 55, 'Will', 'Joe', 'Bob')
15  ('Joe', 55)

# c.

In [3]:
nestedTuple = (4, 5, 6),(7, 8)
print('1',nestedTuple)
print('2',nestedTuple[1])
tup = tuple(['foo', [1, 2], True])
tup[1].append(3)
print(tup)
print(list2)

1 ((4, 5, 6), (7, 8))
2 (7, 8)
('foo', [1, 2, 3], True)
[2, 3, 'SampleText', None]

# d.

In [11]:
 tup = (4, 5, 6)
a, b, c = tup
print("1: ",b)
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
print("2 :",d)
a, b = 1, 2
a, b = b, a
print("3 :",a)
print("4 :",b)
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a=a, b=b, c=c')
    
values = 1, 2, 3, 4, 5
a, b, *rest = values
print("5 :",a)
print("6 :",b)
print("7 :",rest)

1:  5
2 : 7
3 : 2
4 : 1
a=a, b=b, c=c
a=a, b=b, c=c
a=a, b=b, c=c
5 : 1
6 : 2
7 : [3, 4, 5]

# e.

In [35]:
tuple1 = (4, None, 'foo') + (6, 0) + ('bar',)
print(tuple1)
print(('foo', 'bar') * 4)
a = (1, 7, 2, 7, 2, 2, 7, 3, 7, 4, 7, 7, 2, 7)
print(a.count(7))
print(len(a))

(4, None, 'foo', 6, 0, 'bar')
('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')
7
14

# 6. Develop Python Programs for the following below scenario.

### (a) Write a Python Program which will prompt user to ask enter his/her name, department, mobile number, roll number etc. Once you receive the input values from the user programmatically store these values into tuple objects and finally display them as output. Try to enter details for at least 5 objects.

In [4]:
name = input('Enter name: ')
department = input('Enter department: ')
mob_number = int(input('Enter mobile number: '))
roll = int(input('Enter rollnumber: '))
Info = (name,department,mob_number,roll)
print(Info)

Enter name: beas
Enter department: cse
Enter mobile number: 123
Enter rollnumber: 4
('beas', 'cse', 123, 4)

## (b) For all of the questions provided in Question No. 3, try to store all those values into Tuple objects display them.

### (a) Write a Python Program which will prompt user to ask a range of integer(lower limit and higher limit) value. Once you receive the input values from the user programmatically store odd numbers and even numbers into separate tuple objects and display them as output.

In [2]:
odd=[]
even=[]
for i in range(0,21):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
odd=tuple(odd)
even=tuple(even)
print("Odd: ",odd,'Even: ',even)

Odd:  (1, 3, 5, 7, 9, 11, 13, 15, 17, 19) Even:  (0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

### (b) Write a Python Program which will prompt user to enter a positive integer value. Once you receive the input, find factors of the integer and store into a tuple objects and display them as output.

In [8]:
num = int(input('Enter a positive number: '))
factors=[]
for i in range(1,num+1):
    if num%i==0:
        factors.append(i)
factors=tuple(factors)
print('All factors of ',num,'is\n',factors)

Enter a positive number: 14
All factors of  14 is
 (1, 2, 7, 14)

### (c) Write a Python Program which will prompt user to enter a range of integer(lower limit and higher limit) value, list down all prime numbers and composite numbers into separate tuple objects and display them.

In [4]:
lower = int(input('Enter a lower limit : '))
higher = int(input('Enter higher limit : '))
prime,composite=[],[]
def isprime(num):   
    factor=0
    for i in range(1,num+1):
            if num%i==0:
                factor+=1
    if factor==2:
        return True
    else:
        return False
    
for i in range(lower,higher):
    if isprime(i)==True:
        prime.append(i)
    else:
        composite.append(i)

print('All prime numbers from range ',lower,' to ',higher,' is\n',tuple(prime))
print('All composite numbers from range ',lower,' to ',higher,' is\n',tuple(composite))

Enter a lower limit : 2
Enter higher limit : 21
All prime numbers from range  2  to  21  is
 (2, 3, 5, 7, 11, 13, 17, 19)
All composite numbers from range  2  to  21  is
 (4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20)

### 7. What is a Dictionary Object in Python? Write the syntax, how we create a Dictionary object? For the following questions create Dictionary object of each scenario and display them as output.

### (a) Dictionary of few peoples as key and their mobile numbers as values(at least for 10 key).

In [1]:
D1={}
for i in range(3):
    name=input("Enter name of person ")
    ph_number=int(input("Enter phone number of person "))
    D1[name]=ph_number
print(D1)

Enter name of person swayam
Enter phone number of person 07681053346
Enter name of person shubam
Enter phone number of person 54456465465
Enter name of person satya
Enter phone number of person 65446546545
{'swayam': 7681053346, 'shubam': 54456465465, 'satya': 65446546545}

### (b) Dictionary of few books as key and their authors(authors should be a list object) as values.

In [8]:
D2={}
for i in range(3):
    book=input("Enter name of book ")
    author=input("Enter author ")
    D2[author]=book
print(D2)

Enter name of book Harry Potter
Enter author J.K Rowling
Enter name of book Murder on the orient express
Enter author Agatha Christie
Enter name of book The room on the roof
Enter author Ruskin Bond
{'J.K Rowling': 'Harry Potter', 'Agatha Christie': 'Murder on the orient express', 'Ruskin Bond': 'The room on the roof'}

### (c) Dictionary of different types numbers(such as prime, composite, even, odd etc.) as keys and their examples as values.

In [6]:
def isprime(n):
    factor=0
    for i in range(1,n+1):
        if n%i==0:
            factor+=1
    if factor==2:
        return True
    else:
        return False
    
def even(n):
    if n%2==0:
        return True
    else:
        return False
    
D={'prime':[],'even':[],'odd':[]}

for i in range(21):
    if isprime(i)==True:
        D['prime'].append(i)
    elif even(i)==True:
        D['even'].append(i)
    elif even(i)==False:
        D['odd'].append(i)
print(D)

{'prime': [2, 3, 5, 7, 11, 13, 17, 19], 'even': [0, 4, 6, 8, 10, 12, 14, 16, 18, 20], 'odd': [1, 9, 15]}

### (d) Dictionary of engineering branches as keys and their specializations as values.

In [11]:
D1={}
for i in range(3):
    Branches=input('Enter branches: ')
    specialization=input('Enter specialization: ')
    D1[Branches]=specialization
print(D1)

Enter branches: CSE
Enter specialization: DATA SCIENCE
Enter branches:  CSE
Enter specialization: CYBER
Enter branches: CSE
Enter specialization: AI
{'CSE': 'AI', ' CSE': 'CYBER'}

### (e) Dictionary of employee ids as keys and their details(as tuple) as values.

In [9]:
D3={}
import random as r
for i in range(3):
    L=[]
    ids=r.randint(1,11)
    name=input('Enter name: ')
    L.append(name)
    ph_number=int(input('Enter phone number: '))
    L.append(ph_number)
    D3[ids]=tuple(L)
print(D3)

Enter name: Lipsa
Enter phone number: 2819038451
Enter name: Soumya
Enter phone number: 9872835765
Enter name: Tiash
Enter phone number: 9823501737
{10: ('Lipsa', 2819038451), 1: ('Soumya', 9872835765), 9: ('Tiash', 9823501737)}

### (f) Dictionary of subject code as key and subject details(as list) such as course name, reference book, teacher name, department etc. as values.

In [10]:
D4={}
import random as r
for i in range(3):
    L=[]
    sub_code=r.randint(1,11)+1000
    sub_name=input('Enter subject name: ')
    L.append(sub_name)
    reference_book=input('Enter reference book: ')
    L.append(reference_book)
    D4[sub_code]=L
print(D4)

Enter subject name: pme
Enter reference book: abcd
Enter subject name: dsw
Enter reference book: lmno
Enter subject name: ps
Enter reference book: bcd
{1005: ['pme', 'abcd'], 1002: ['dsw', 'lmno'], 1009: ['ps', 'bcd']}

### 8. Predict the output of following instructions when typed in Jupyter Notebook Cell and note down every output in your assignment copy.

### (a) dictObj = {'fruits': ['banana', 'apple', 'guava', 'jackfruit'], 'colors': ('red', 'blue', 'green'), 'int': 165, 'float': 99.56, 'string':'some sample text'}

In [7]:
dictObj = {'fruits': ['banana', 'apple', 'guava', 'jackfruit'], 'colors': ('red', 'blue', 'green'),
               'int': 165, 'float': 99.56, 'string':'some sample text'}

# a.

In [13]:
print('1',dictObj)
type(dictObj)
dictObj[10] = 'New added value'
print('2',dictObj)
print('3',dictObj[10])
print('4',dictObj['int'])
print('5',dictObj['colors'])
print('6',dictObj[10])
print('7',dictObj[10])

1 {'fruits': ['banana', 'apple', 'guava', 'jackfruit'], 'colors': ('red', 'blue', 'green'), 'int': 165, 'float': 99.56, 'string': 'some sample text', 10: 'New added value'}
2 {'fruits': ['banana', 'apple', 'guava', 'jackfruit'], 'colors': ('red', 'blue', 'green'), 'int': 165, 'float': 99.56, 'string': 'some sample text', 10: 'New added value'}
3 New added value
4 165
5 ('red', 'blue', 'green')
6 New added value
7 New added value

# b.

In [19]:
dictObj2 = {'Bob':10, 'Joe':34, 'Will':77, 'Limba':55,'Will':36, 'XXXXX':100}
print('1','Limba' in dictObj2)
print(55 in dictObj2)
print('2','55' in dictObj2)
print('3','XXXXXX' in dictObj2)
dictObj2['Will'] = ' '.join(['I', 'am', 'ancient', '10', 'years old'])
print('4',dictObj2['Will'])
dictObj2.pop('Joe')
dictObj2.pop('Will')
print('5',dictObj2)

1 True
False
2 False
3 False
4 I am ancient 10 years old
5 {'Bob': 10, 'Limba': 55, 'XXXXX': 100}

# c.

In [23]:
print('1',list(dictObj.keys()))
print('2',list(dictObj.values()))
print('3',list(dictObj.items()))
dictObj['iter'] = 'INSTITUTE OF TECHNICAL EDUCATION & RESEARCH'
print('4',list(dictObj.keys()))
print('5',list(dictObj.values()))
print('6',list(dictObj.items()))
print('7',dictObj)
dictObj.update({'b': 'foo', 'c': 12})
print('8',dictObj)

1 ['fruits', 'colors', 'int', 'float', 'string', 10, 'iter', 'b', 'c']
2 [['banana', 'apple', 'guava', 'jackfruit'], ('red', 'blue', 'green'), 165, 99.56, 'some sample text', 'New added value', 'INSTITUTE OF TECHNICAL EDUCATION & RESEARCH', 'foo', 12]
3 [('fruits', ['banana', 'apple', 'guava', 'jackfruit']), ('colors', ('red', 'blue', 'green')), ('int', 165), ('float', 99.56), ('string', 'some sample text'), (10, 'New added value'), ('iter', 'INSTITUTE OF TECHNICAL EDUCATION & RESEARCH'), ('b', 'foo'), ('c', 12)]
4 ['fruits', 'colors', 'int', 'float', 'string', 10, 'iter', 'b', 'c']
5 [['banana', 'apple', 'guava', 'jackfruit'], ('red', 'blue', 'green'), 165, 99.56, 'some sample text', 'New added value', 'INSTITUTE OF TECHNICAL EDUCATION & RESEARCH', 'foo', 12]
6 [('fruits', ['banana', 'apple', 'guava', 'jackfruit']), ('colors', ('red', 'blue', 'green')), ('int', 165), ('float', 99.56), ('string', 'some sample text'), (10, 'New added value'), ('iter', 'INSTITUTE OF TECHNICAL EDUCATION & RESEARCH'), ('b', 'foo'), ('c', 12)]
7 {'fruits': ['banana', 'apple', 'guava', 'jackfruit'], 'colors': ('red', 'blue', 'green'), 'int': 165, 'float': 99.56, 'string': 'some sample text', 10: 'New added value', 'iter': 'INSTITUTE OF TECHNICAL EDUCATION & RESEARCH', 'b': 'foo', 'c': 12}
8 {'fruits': ['banana', 'apple', 'guava', 'jackfruit'], 'colors': ('red', 'blue', 'green'), 'int': 165, 'float': 99.56, 'string': 'some sample text', 10: 'New added value', 'iter': 'INSTITUTE OF TECHNICAL EDUCATION & RESEARCH', 'b': 'foo', 'c': 12}

# d.

In [27]:
myDict = {}
keyList = range(10)
valueList = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'G', 'I', 'J']
for key, value in zip(keyList, valueList):
    myDict[key] = value
print(myDict,end=" ")

{0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E', 5: 'F', 6: 'G', 7: 'G', 8: 'I', 9: 'J'}

# e.

In [5]:
from collections import defaultdict
words = ['rabbit', 'apple', 'dog', 'bat', 'cat', 'cup', 'kit', 'boat', 'book', 'music']
myDict = defaultdict(list)
for w in words:
    myDict[w[0]].append(w)
print(myDict,end=" ")

defaultdict(<class 'list'>, {'r': ['rabbit'], 'a': ['apple'], 'd': ['dog'], 'b': ['bat', 'boat', 'book'], 'c': ['cat', 'cup'], 'k': ['kit'], 'm': ['music']})

# 9.Develop Python Programs for the following below scenario.

### (a) Write a Python Program which will prompt user to ask enter his/her name, profession, mobile number, employment organization, email id etc. Once you receive the input values from the user programmatically store these values into Dictionary objects such as mobile number is the key and other details as tuple object. Try to enter details for at least 7 objects.

In [ ]:
employee={}
for i in range(3):
    name=input('Enter name: ')
    profession=input('Enter profession: ')
    mob_no=int(input('Enter mobno: '))
    org=input('Enter organization:')
    email=input('Enter email-id: ')
    employee_info=(name,profession,org,email)
    employee[mob_no]=employee_info
    print(employee)

Enter name: beu
Enter profession: student
Enter mobno: 123
Enter organization:cse
Enter email-id: b@gmail
{123: ('beu', 'student', 'cse', 'b@gmail')}

### (b) Develop a Python program which will take lower limit +ve integer and higher limit +ve integer values from the user as user input(lower limit should be lesser than the higher limit). Following that calculate factors of those elements within the range and store them as key value pairs(dictionary object) such as the number is the key and factors are as values of a list object and display them.

In [50]:
lb=int(input('Enter lower bound: '))
ub=int(input('Enter upper bound: '))
def fact(n):
    factor=[]
    for i in range(1,n+1):
        if n%i==0:
            factor.append(i)
    return factor
D={}
for i in range(lb,ub+1):
    D.update({lb:fact(lb)})
print(D)

Enter lower bound: 2
Enter upper bound: 6
{2: [1, 2]}

### 10.What is a Set Object in Python? Write different syntax, how we create a Set object? For the following questions create Set object of each scenario and display them as output.

### (a) Set of all cricket players currently working in Indian Cricket Team.

In [52]:
cricket_team={'Rohit Sharma','Shreyas Iyer','Shubman Gill','Suryakumar Yadav','Virat Kohli','Hardik Pandya',
              'Ravichandran Ashwin','Ravindra Jadeja'}
print(cricket_team)

{'Shubman Gill', 'Hardik Pandya', 'Shreyas Iyer', 'Ravindra Jadeja', 'Rohit Sharma', 'Suryakumar Yadav', 'Virat Kohli', 'Ravichandran Ashwin'}

### (b) Set of all 3rd semester courses.

In [53]:
semester={'AD-1','PS','DSW','DLD','PME'}
print(semester)

{'DSW', 'PS', 'PME', 'AD-1', 'DLD'}

### (c) Set of all books you are following for this semester.

In [54]:
books={'Agent Based Intelligent Systems',
'Theory of Programming Languages',
'Algorithms',
'Computer Programming and Algorithms',
'Database Concepts and System',
'Digital Logic System Design',
'Advanced Topics in Discrete Optimization',
'Advance Embedded Systems'}
print(books)

{'Advance Embedded Systems', 'Database Concepts and System', 'Digital Logic System Design', 'Algorithms', 'Advanced Topics in Discrete Optimization', 'Computer Programming and Algorithms', 'Agent Based Intelligent Systems', 'Theory of Programming Languages'}

### (d) Set of 10 integer objects(both -ve and +ve) which are divisible by 11

In [5]:
div_by_11={-22,-11,0,11,22,33,44,55,66}
print(div_by_11)

{0, 33, 66, -22, 11, 44, -11, 22, 55}

### (e) Set of words containing more than 3 vowels.

In [4]:
vowel={"education","extraordinary","unbelievable","adventure","communication",...}
print(vowel)

{'communication', 'adventure', 'unbelievable', 'extraordinary', Ellipsis, 'education'}

### 11. Predict the output of following instructions when typed in Jupyter Notebook Cell and note down every output in your assignment copy.

In [60]:
A = {5, 3, 1, 4, 4, 2, 3, 4, 5, '5', 2, '2', 7, '1'}
print('1',A)
B = {'6', 3, 1, 3, '5', '2', 7, '1', 6, '9', 10, 9, '6'}
print('2',B)
print(type(A))
print(type(B))
A.add('55')
print('3',A)
D = B
print('4',D)
print('5',D == B)
print('6',D == A)

1 {1, 2, 3, 4, 5, '2', 7, '1', '5'}
2 {1, '6', '2', 3, '1', 6, 7, 9, 10, '5', '9'}
<class 'set'>
<class 'set'>
3 {1, 2, 3, 4, 5, '2', 7, '1', '55', '5'}
4 {1, '6', '2', 3, '1', 6, 7, 9, 10, '5', '9'}
5 True
6 False

In [63]:
C = A
C.union(D)
print(C)
C.intersection(D)
print(C)
print(D)
C.intersection_update(D)
print(C)
print(D)
C.update(D)
print(C)

{1, '6', '1', '2', 3, 6, 7, 9, 10, '5', '9'}
{1, '6', '1', '2', 3, 6, 7, 9, 10, '5', '9'}
{1, '6', '2', 3, '1', 6, 7, 9, 10, '5', '9'}
{1, '6', 3, '2', '1', 6, 7, 9, 10, '5', '9'}
{1, '6', '2', 3, '1', 6, 7, 9, 10, '5', '9'}
{1, '6', 3, '2', '1', 6, 7, 9, 10, '5', '9'}

In [66]:
C.add(54)
print(C)
C.add('Sample Text')
print(C)
print(D)
C.difference(D)
print(C)
print(D)
C.difference_update(D)
print(C)
print(D)

{1, '6', 3, '2', '1', 6, 7, 9, 10, '5', '9', 54}
{1, '6', 3, '2', '1', 6, 7, 9, 10, 'Sample Text', '5', '9', 54}
{1, '6', '2', 3, '1', 6, 7, 9, 10, '5', '9'}
{1, '6', 3, '2', '1', 6, 7, 9, 10, 'Sample Text', '5', '9', 54}
{1, '6', '2', 3, '1', 6, 7, 9, 10, '5', '9'}
{'Sample Text', 54}
{1, '6', '2', 3, '1', 6, 7, 9, 10, '5', '9'}

In [71]:
C.symmetric_difference(D)
print(C)
C.symmetric_difference_update(D)
print(C)
A.issubset(B)
A.issuperset(B)
A.isdisjoint(B)
print(A)
print(B)

{'Sample Text', 54}
{'1', 3, '2', '6', 1, 6, 9, 7, 10, 'Sample Text', '5', '9', 54}
{'1', 3, '2', '6', 1, 6, 9, 7, 10, 'Sample Text', '5', '9', 54}
{1, '6', '2', 3, '1', 6, 7, 9, 10, '5', '9'}

In [ ]:
X = {1, 2, 3, 4, 2, 3, 5, 6, 1, 2, 9, 8}
print(X)
X.add(7)
X.add(100.65)
X.add('ITER')
X.add(76.89)
print('1',X)
print('2',X | X)
print('3',X & X)
print('4',X - X)
print('5',X ^ X)